body{
    position: fixed;
    background: cornflowerblue;
    padding-top: 100px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
div.signup{
    text-align:center;
}
h2{
    text-align: center;
    font-size: large;
}
p {
    font-size: 200%;
    max-width: 600px;
    border: ridge;
    text-align: center;
    box-shadow: 4px 4px 15px 1px #000000;
    display: block;
}

@font-face {

}
h2{
    font-size: 200%;
    text-align: center;
}
.backGD{
   background:url('/background2.png');
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover {
    background: rgba(0, 0, 0, .15);
}

nav ul li:hover > ul {
    display: block;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #222;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
.myDiv{
    background-color: rgba(190, 38, 53, 0.5);
    display: table;
    align-items: center;
    padding: 3%;
    margin: 50px auto;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;

}

.btwPG{
    font-size: 11px;

}



