body {
    margin: 0;
    font-family: sans-serif;
}

#blocks {
    text-align: center;
    width: 30%;
    position: fixed;
    top: 16px;
    left: 50%;
    margin-left: -15%;
    padding-top: 10px;
    border-radius: 4px;
    background: #cccccc;
}

#countdown {
}

.select {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px 0 0 2px;
    border-radius: 2px;
}

#text {
    display: none;
}

.select-red {
    background: #FF0000;
}
.select-green {
    background: #33cc00;
}
.select-blue {
    background: #0033ff;
}
.select-cyan {
    background: #00ccff;
}
.select-magenta {
    background: #ff00ff;
}
.select-yellow {
    background: #ffea00;
}
.select-orange{
    background: #ff9900;
}
.select-purple{
    background: #6633cc;
}
.select-pan {
    background-image: url("pan16.png");
}
.select-remove {
    background-image: url("x16.png");
}
.select-bacteria {
    background-image: url("bacteria16.png");
}
.select-gol {
    background-image: url("gol16.png");
}

.select-mbs {
    background-image: url("mbs16.png");
}

.select-othb {
    background-image: url("othelloblack16.png");
}

.select-othw {
    background-image: url("othellowhite16.png");
}

.select-tnt {
    background-image: url("tnt16.png");
}

.select-wire {
    background-image: url("wireoff16.png");
}

.select-wireon {
    background-image: url("wireon16.png");
}

.select-invertn {
    background-image: url("notnorth16.png");
}

.select-inverte {
    background-image: url("noteast16.png");
}

.select-inverts {
    background-image: url("notsouth16.png");
}

.select-invertw {
    background-image: url("notwest16.png");
}

.select-selected {
    border: 1px solid black;
}

#game {
    position: fixed;
    cursor: none;
}