body {
    margin: 0;
    font-family: sans-serif;
}

#blocks {
    text-align: center;
    width: 30%;
    position: fixed;
    padding-top: 10px;
    border-radius: 4px;
    background: #cccccc;
    margin: 100px 35% auto;
}

#countdown {
}

.select {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px 0 0 2px;
    border-radius: 2px;
}

#text {
    display: none;
}

.select-red {
    background: #FF0000;
}
.select-green {
<<<<<<< HEAD
    background: #0F000;
=======
    background: #33cc00;
>>>>>>> Rachael-UI
}
.select-blue {
    background: #0033ff;
}
.select-cyan {
    background: #00ccff;
}
.select-magenta {
    background: #ff00ff;
}
.select-yellow {
    background: #ffea00;
}
.select-orange{
<<<<<<< HEAD
    background: #F8201A;
=======
    background: #ff9900;
}
.select-purple{
    background: #6633cc;
>>>>>>> Rachael-UI
}
.select-pan {
    background-image: url("pan16.png");
}
.select-remove {
    background-image: url("x16.png");
}
.select-bacteria {
    background-image: url("bacteria16.png");
}
.select-gol {
    background-image: url("gol16.png");
}

.select-mbs {
    background-image: url("mbs16.png");
}

.select-othb {
    background-image: url("othelloblack16.png");
}

.select-othw {
    background-image: url("othellowhite16.png");
}

.select-tnt {
    background-image: url("tnt16.png");
}

.select-wire {
    background-image: url("wireoff16.png");
}

.select-wireon {
    background-image: url("wireon16.png");
}

.select-invertn {
    background-image: url("notnorth16.png");
}

.select-inverte {
    background-image: url("noteast16.png");
}

.select-inverts {
    background-image: url("notsouth16.png");
}

.select-invertw {
    background-image: url("notwest16.png");
}

.select-selected {
    border: 1px solid black;
}

#game {
    position: fixed;
    cursor: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover {
    background: rgba(0, 0, 0, .15);
}

nav ul li:hover > ul {
    display: block;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #222;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}