{% extends 'base.html' %}
{% load static %}

{% block title %} game {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "game.css" %}">
{% endblock %}

{% block content %}
    <script src="{% static "game.js" %}"></script>
    <canvas id="game" class="no-cursor"></canvas>
    <div id="blocks">
        <div class="select select-pan"></div><div class="select select-red select-selected"></div><div class="select select-green"></div><div class="select select-blue"></div><div class="select select-yellow"></div><div class="select select-magenta"></div><div class="select select-cyan"></div><div class="select select-remove"></div><br>
        <div class="select select-bacteria"></div><div class="select select-mbs"></div><div class="select select-gol"></div><div class="select select-othb"></div><div class="select select-othw"></div>
        <p id="countdown">-:--</p>
    </div>
{% endblock %}
