{% extends 'base.html' %}
{% load static %}
    {%  block title %}Login{%  endblock %}
{% block head %}
     <link rel="stylesheet" href="{% static 'base-style.css' %}">
    <link rel="stylesheet" href="{% static '/admin/css/login.css' %}">
    {% endblock %}
{% block content %}
    <nav role='navigation'>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a>
        </li>
        <li><a href="/game">Game</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>
    <div class="myDiv">
   <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form><br>
        <div class = btwPG>
            <a href="/signup"> Don't have an account? </a>
        </div>
    </div>
{% endblock %}